#panes{
    padding: 5px;
}

.search input[type="text"] {
    padding: 10px;
    border: solid 5px #ccf;
    transition: border 0.3s;
    width: 225px;
    font-size: 15px;
}

.search input[type="text"]:focus,
.search input[type="text"].focus {
    border: solid 5px #969696;
}

.link {
    text-decoration: none;
    margin: 1px;
    background-color: #eee;
    padding: 5px
}

.link:hover {
    cursor: pointer;
}

#queryside, #djside {
    vertical-align: top;
}

#djside ul {
    margin: 0
}

#djside li.queue_song{
    padding-bottom: 10px;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
}

#queue, #favorites{
    border: solid 1px #ddd;
    border-top: none;
}

.fav_count{
    margin-left: 5px;
    padding: 0 5px;
    background-color: #ddd;
    border-radius: 20px;
    color: #777;
}

span.singer{
    color: #078107;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
}

#results{
    background-color:#ddd;
    border-radius: 25px;
}

.delete{
    color: red;
    font-style:italic;
    cursor: pointer;
}

.kick{
    color:orange;
    font-style:italic;
    cursor: pointer;
}

#header{
    border-bottom: solid 5px #e24b4b;
    margin-bottom: 5px;
}

#resultset{
    padding: 0;
}

#resultset li {
    padding: 2px;
    list-style-type: none;
}

.song-title{
    background-color: #eee;
    padding: 0 5px;
    border-radius: 25px;
}

#search-btn{
    width:100%;
}

.expando{
    color: #ccc;
}

.queue-header{
    font-weight: bold;
}

.ghost{
    color: #ccc;
}

.song-id{
    float: right;
    color: #ddd;
}