@{
    var data = new {
        Title = "Karaoke Jams"
    };
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>  
        <title>@data.Title</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script defer src="//use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

        <script src="/Scripts/dist/sweetalert.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/Scripts/dist/sweetalert.css">
        <link rel="stylesheet" type="text/css" href="/css/index.css">        
    </head>

    <body>
        <div id="header">
            <a href="/"><img src="/images/banner.png" class="bg" /></a>
        </div>
        <div id="panes" class="container">
            <div class="row">
                <div id="queryside" class="col-md-6">
                    <div>
                        <div class="form-row">
                            <div class="col-8"><input class="form-control" type="text" id="search" placeholder="Search here.." /></div>
                            <div class="col"><button type="submit" class="btn btn-primary mb-2" id="search-btn"><i class="fas fa-search"></i> Search</button></div>                                                                                    
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-control alert-secondary queue-header"><i class="fas fa-hand-point-up"></i> Enter your search term above...</div>
                            </div>
                        </div>
                    </div>                    
                    <div id="div1">
                        <ul id="resultset"></ul>
                    </div>      
                </div>
                <div id="djside" class="col-md-6">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-control alert-primary queue-header"><i class="fas fa-list-ol"></i> Who's up next?</div>
                        </div>
                    </div>
                    <ul id="queue"></ul>
                </div>
            </div>
        </div>  
        <script type="text/javascript" src="/Scripts/index.js"></script>
    </body>
</html>